-- CreateEnum
CREATE TYPE "SellerStatusEnum" AS ENUM ('allowed', 'gated', 'requires_invoice', 'restricted', 'unknown');

-- CreateEnum
CREATE TYPE "ImportSource" AS ENUM ('keepa', 'manual');

-- CreateEnum
CREATE TYPE "TagType" AS ENUM ('warning', 'note');

-- CreateTable
CREATE TABLE "products" (
    "asin" VARCHAR(10) NOT NULL,
    "sales_rank_current" INTEGER,
    "sales_rank_avg_90d" INTEGER,
    "sales_rank_drop_90d" DOUBLE PRECISION,
    "bought_past_month" INTEGER,
    "rating" DOUBLE PRECISION,
    "rating_count" INTEGER,
    "rating_count_drop_90d" DOUBLE PRECISION,
    "buybox_price" DOUBLE PRECISION,
    "buybox_price_avg_90d" DOUBLE PRECISION,
    "buybox_price_drop_90d" DOUBLE PRECISION,
    "buybox_price_lowest" DOUBLE PRECISION,
    "buybox_price_highest" DOUBLE PRECISION,
    "buybox_stock" INTEGER,
    "amazon_share_180d" DOUBLE PRECISION,
    "buybox_winner_count_90d" INTEGER,
    "referral_fee" DOUBLE PRECISION,
    "offer_count_total" INTEGER,
    "new_offer_count_current" INTEGER,
    "new_offer_count_avg_90d" DOUBLE PRECISION,
    "category_root" TEXT,
    "category_sub" TEXT,
    "category_tree" TEXT,
    "brand" TEXT,
    "release_date" TEXT,
    "package_dimension_cm3" DOUBLE PRECISION,
    "package_weight_g" DOUBLE PRECISION,
    "package_quantity" INTEGER,
    "is_hazmat" BOOLEAN,
    "is_heat_sensitive" BOOLEAN,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "products_pkey" PRIMARY KEY ("asin")
);

-- CreateTable
CREATE TABLE "seller_status" (
    "asin" VARCHAR(10) NOT NULL,
    "status" "SellerStatusEnum" NOT NULL DEFAULT 'unknown',
    "checked_at" TIMESTAMP(3),

    CONSTRAINT "seller_status_pkey" PRIMARY KEY ("asin")
);

-- CreateTable
CREATE TABLE "import_files" (
    "id" SERIAL NOT NULL,
    "file_name" TEXT NOT NULL,
    "source" "ImportSource" NOT NULL,
    "file" BYTEA,
    "uploaded_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "total_rows" INTEGER NOT NULL DEFAULT 0,
    "inserted_rows" INTEGER NOT NULL DEFAULT 0,
    "updated_rows" INTEGER NOT NULL DEFAULT 0,
    "failed_rows" INTEGER NOT NULL DEFAULT 0,
    "error_file_path" TEXT,

    CONSTRAINT "import_files_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "product_evaluations" (
    "asin" VARCHAR(10) NOT NULL,
    "score" INTEGER NOT NULL,
    "note" TEXT,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "product_evaluations_pkey" PRIMARY KEY ("asin")
);

-- CreateTable
CREATE TABLE "tags" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "type" "TagType" NOT NULL,
    "color" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tags_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "product_tags" (
    "id" SERIAL NOT NULL,
    "asin" VARCHAR(10) NOT NULL,
    "tag_id" INTEGER NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "product_tags_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "tags_name_key" ON "tags"("name");

-- CreateIndex
CREATE UNIQUE INDEX "product_tags_asin_tag_id_key" ON "product_tags"("asin", "tag_id");

-- AddForeignKey
ALTER TABLE "seller_status" ADD CONSTRAINT "seller_status_asin_fkey" FOREIGN KEY ("asin") REFERENCES "products"("asin") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "product_evaluations" ADD CONSTRAINT "product_evaluations_asin_fkey" FOREIGN KEY ("asin") REFERENCES "products"("asin") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "product_tags" ADD CONSTRAINT "product_tags_asin_fkey" FOREIGN KEY ("asin") REFERENCES "products"("asin") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "product_tags" ADD CONSTRAINT "product_tags_tag_id_fkey" FOREIGN KEY ("tag_id") REFERENCES "tags"("id") ON DELETE CASCADE ON UPDATE CASCADE;

